@page
@model AutoService.Pages_FinancialTransactionss.EditModel

@{
    ViewData["Title"] = "Редагувати";
}

<h1>Редагувати</h1>

<h4>Фінансова транзакція</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FinancialTransactions.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FinancialTransactions.ClientId" class="control-label"></label>
                <select asp-for="FinancialTransactions.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="FinancialTransactions.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FinancialTransactions.Date" class="control-label"></label>
                <input asp-for="FinancialTransactions.Date" class="form-control" />
                <span asp-validation-for="FinancialTransactions.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FinancialTransactions.Amount" class="control-label"></label>
                <input asp-for="FinancialTransactions.Amount" class="form-control" />
                <span asp-validation-for="FinancialTransactions.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="FinancialTransactions.Type" class="control-label"></label>
                <input asp-for="FinancialTransactions.Type" class="form-control" />
                <span asp-validation-for="FinancialTransactions.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinancialTransactions.Description" class="control-label"></label>
                <input asp-for="FinancialTransactions.Description" class="form-control" />
                <span asp-validation-for="FinancialTransactions.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Повернутись до списку</a>
</div>
