@page
@model PrivacyModel
@{
    ViewData["Title"] = "Конфіденційність";
}
<h1>@ViewData["Title"]</h1>

<p>Даний програмний продукт було розроблено в рамках технологічної практики на тему "Автоматизована інформаційна система для станцій технічного обслуговування" </p>
<p>Робота виконана студентом 44-ї групи Тихенко Д.Ю.</p>